<%= form_for @compra do |f| %>
  <% if @compra.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @compra.errors.count %> erros proibiram este compra de ser salvo:</h3>
      </div>
      <div class="panel-body">
        <ul>
          <% @compra.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <div class="container" id="formulario-dados-pessoais">
    <div class="row">
      <div class="col-md-12 shadow">
        <div class="over-shadow">
          <div class="row">
            <div class="col-md-4">
                  <%= f.label :remocao_local_falecimento, "Remoção do corpo no local de falecimento?" %>
            </div>
            <div class="col-md-2">
                  <%= f.select :remocao_local_falecimento, sim_nao, {}, class: "form-control", id:"remocao_local_falecimento" %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <%= f.label :local_remocao, "Local do Falecimento" %>
              <%= f.text_field :local_remocao, class: "form-control", id: "local_remocao", placeholder: "Local de Remoção" %>
            </div>
            <div class="col-md-6">
              <%= f.label :endereco_remocao, "Endereço" %>
              <%= f.text_field :endereco_remocao, class: "form-control", id: "endereco_remocao", placeholder: "Endereço" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 shadow">
        <div class="over-shadow">
          <div id="dadosPessoais">
            <h1 class="titulo_caixa">Produtos</h1>
            <div class="row">
              <div class="col-md-12">
                <table class="table">
                  <thead>
                    <tr>
                      <th colspan="2">Itens</th>
                      <th>Dimensões</th>
                      <th>QTD</th>
                      <th>UDM</th>
                      <th>Valor do Conj.</th>
                      <th>Disponib. em Estoque</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <%= f.fields_for :urna do |e| %>
                        <th>Urna:</th>
                        <td><%= e.select :nome, tipos_urna, {}, class: "form-control", id: "nome", placeholder: "URNA", disabled: true %></td>
                        <td><%= e.select :dimensoes, dimensoes_urnas, {}, class: "form-control", id: "dimensao_urna" %></td>
                        <td><%= e.number_field :quantidade, disabled: true, value: 1 %></td>
                        <td><%= e.text_field :unidade_medida, disabled: true, value: "cm", id: "udm_urna" %></td>
                        <!-- banco traz valor pra gente s2 -->
                        <td><%= e.number_field :valor_unitario, disabled: true, step: 0.01,value: 0.00, id: "valor_urna" %></td>
                        <td id="disponibilidade_urna"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
                      <% end %>
                    </tr>
                    <tr>
                      <%= f.fields_for :revestimento do |e| %>
                        <th>Revestimento:</th>
                        <td><%= e.select :nome, tipos_revestimento, {}, class: "form-control", id: "nome", placeholder: "REVESTIMENTO", disabled: true %></td>
                        <td><%= e.select :dimensoes, dimensoes_revestimentos, {}, class: "form-control", id: "dimensao_urna" %></td>
                        <td><%= e.number_field :quantidade, disabled: true, value: 1 %></td>
                        <td><%= e.text_field :unidade_medida, disabled: true, value: "cm", id: "udm_revestimento" %></td>
                        <!-- banco traz valor pra gente s2 -->
                        <td><%= e.number_field :valor_unitario, disabled: true, step: 0.01,value: 0.00, id: "valor_revestimento" %></td>
                        <td id="disponibilidade_revestimento"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
                      <% end %>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 shadow">
        <div class="over-shadow">
          <h1 class="titulo_caixa">Taxa de Serviço</h1>
          <table class="table">
            <thead>
              <tr>
                <td colspan="5">Serviço</td>
                <td>QTD</td>
                <td>Valor do Conj.</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <%= f.fields_for :tipo_sepultamento do |e| %>
                  <th>Tipo de sepultamento:</th>
                  <td colspan="4"><%= e.select :nome, tipos_sepultamento, {}, class: "form-control", id: "nome", disabled: true %></td>
                  <td></td>
                  <td><%= e.number_field :valor_unitario, disabled: true, step: 0.01,value: 0.00, id: "valor_sepultamento" %></td>
                <% end %>
              </tr>
              <tr>
                <th rowspan="2">Transporte:</th>
                <%= f.fields_for :transporte_carrreto do |e| %>
                  <td><%= e.check_box :nome, checked: true, disabled: true, value: "Carro Carreto"%></td>
                  <td colspan="2">Carro Carreto</td>
                  <td></td>
                  <td><%= e.number_field :quantidade, disabled: true, value: 1 %></td>
                  <td><%= e.number_field :valor_unitario, disabled: true, step: 0.01,value: 0.00, id: "valor_carro_carreto" %></td>
                <% end %>
              </tr>
              <tr>
                <%= f.fields_for :transporte_enterro do |e| %>
                  <td><%= e.check_box :nome, checked: true, disabled: true, value: "Carro Enterro"%></td>
                  <td colspan="2">Carro Enterro</td>
                  <td></td>
                  <td><%= e.number_field :quantidade, disabled: true, value: 1 %></td>
                  <td><%= e.number_field :valor_unitario, disabled: true, step: 0.01,value: 0.00, id: "valor_carro_enterro" %></td>
                <% end %>
              </tr>
              <tr>
                <th rowspan="2">Taxas:</th>
                <%= f.fields_for :sepultamento do |e| %>
                  <td><%= e.check_box :nome, checked: true, disabled: true, value: "sepultamento" %></td>
                  <td colspan="2">Sepultamento</td>
                  <td></td>
                  <td colspan="2"></td>
                <% end %>
              </tr>
              <tr>
                <%= f.fields_for :outros do |e| %>
                  <td>
                    <%= check_box_tag :outros, true, false, id: "outros", onclick: "enableTaxas(this)" %>
                  </td>
                  <td  colspan="2">Outras</td>
                  <td>
                    <%= e.radio_button :nome, "(+)Creditar", id: "tipo_taxa", class: "tipo_taxa_class",disabled: true %>
                    <%= e.label :creditar, "(+)Creditar" %>
                    <%= e.radio_button :nome, "(-)Debitar", id: "tipo_taxa",class: "tipo_taxa_class", disabled: true %>
                    <%= e.label :debitar, "(-)Debitar" %>
                  </td>
                  <td></td>
                  <td>
                    <%= e.number_field :valor_unitario, disabled: true, step: 0.01, id: "valor_taxa", onkeypress: "mascara(this,dinheiro_mask)" %>
                  </td>
                <% end %>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-12 shadow">
            <div class="over-shadow">
                <h1 class="titulo_caixa">Observações</h1>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <%= f.text_area :observacoes, class: "form-control", id: "observaçoes", placeholder: "Observações" %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="botoes-navegacao">
      <div class="col-xs-12">
        <button type="button" class="col-xs-1 btn btn-default"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></button>
        <button type="button" class="col-xs-offset-4 col-xs-2 btn btn-default">Cancelar</button>
        <button class="col-xs-offset-4 col-xs-1 btn btn-default" value="Próximo" type="submit"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
      </div>
    </div>
  </div>
<% end %>