<%= form_for @compra do |f| %>
  <% if @compra.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @compra.errors.count %> erros proibiram este compra de ser salvo:</h3>
      </div>
      <div class="panel-body">
        <ul>
          <% @compra.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <div class="container" id="formulario-dados-pessoais">
    <div class="row">
      <div class="col-md-12 shadow">
        <div class="over-shadow">
          <div class="row">
            <div class="col-md-4">
                  <%= f.label :remocao_local_falecimento, "Remoção do corpo no local de falecimento?" %>
            </div>
            <div class="col-md-2">
                  <%= f.select :remocao_local_falecimento, options_for_select(sim_nao, false), {}, class: "form-control", id:"remocao_local_falecimento", onchange: "disableIfEqual('local_remocao', 'remocao_local_falecimento', 'false'); disableIfEqual('endereco_remocao', 'remocao_local_falecimento', 'false');" %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <%= f.label :local_remocao, "Local de Remoção" %>
              <%= f.text_field :local_remocao, class: "form-control", id: "local_remocao", placeholder: "Local de Remoção", disabled: true %>
            </div>
            <div class="col-md-6">
              <%= f.label :endereco_remocao, "Endereço" %>
              <%= f.text_field :endereco_remocao, class: "form-control", id: "endereco_remocao", placeholder: "Endereço", disabled: true %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 shadow">
        <div class="over-shadow">
          <div id="dadosPessoais">
            <h1 class="titulo_caixa">Produtos</h1>
            <div class="row">
              <div class="col-md-12">
                <table class="table">
                  <thead>
                    <tr>
                      <th colspan="2">Itens</th>
                      <th>Dimensões</th>
                      <th>QTD</th>
                      <th>UDM</th>
                      <th>Valor do Conj.</th>
                      <th>Disponib. em Estoque</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <%= f.fields_for :item_compras, @compra.urna do |e| %>
                        <%= e.hidden_field :tipo, value: "urna" %>
                        <th>Urna:</th>
                        <td><%= e.select :nome, tipos_urna, {}, class: "form-control", id: "nome", placeholder: "URNA", disabled: @cadastro.GD? %></td>
                        <td><%= e.select :dimensoes, dimensoes_urnas, {}, class: "form-control", id: "dimensao_urna" %></td>
                        <td><%= e.number_field :quantidade, disabled: @cadastro.GD?, value: 1 %></td>
                        <td><%= e.text_field :unidade_medida, disabled: true, value: "cm", id: "udm_urna" %></td>
                        <!-- banco traz valor pra gente s2 -->
                        <td><%= e.number_field :preco, disabled: true, step: 0.01,value: 0.00, id: "valor_urna" %></td>
                        <td id="disponibilidade_urna"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
                      <% end %>
                    </tr>
                    <tr>
                      <%= f.fields_for :item_compras, @compra.revestimento do |e| %>
                        <%= e.hidden_field :tipo, value: "revestimento" %>
                        <th>Revestimento:</th>
                        <td><%= e.select :nome, tipos_revestimento, {}, class: "form-control", id: "nome", placeholder: "REVESTIMENTO", disabled: @cadastro.GD? %></td>
                        <td><%= e.select :dimensoes, dimensoes_revestimentos, {}, class: "form-control", id: "dimensao_urna" %></td>
                        <td><%= e.number_field :quantidade, disabled: @cadastro.GD?, value: 1 %></td>
                        <td><%= e.text_field :unidade_medida, disabled: true, value: "cm", id: "udm_revestimento" %></td>
                        <!-- banco traz valor pra gente s2 -->
                        <td><%= e.number_field :preco, disabled: true, step: 0.01,value: 0.00, id: "valor_revestimento" %></td>
                        <td id="disponibilidade_revestimento"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
                      <% end %>
                    </tr>

                    <% if @cadastro.PNS? %>
                      <tr>
                        <%= f.fields_for :item_compras, @compra.enfeite do |e| %>
                          <%= e.hidden_field :tipo, value: "enfeite" %>
                          <th>Enfeite:</th>
                          <td><%= e.select :nome, tipos_enfeite, {}, class: "form-control", id: "nome", placeholder: "ENFEITE", disabled: false %></td>
                          <td></td>
                          <td><%= e.number_field :quantidade, disabled: false, value: 1 %></td>
                          <td><%= e.text_field :unidade_medida, disabled: true, value: "cm", id: "udm_enfeite" %></td>
                          <!-- banco traz valor pra gente s2 -->
                          <td><%= e.number_field :preco, disabled: true, step: 0.01,value: 0.00, id: "valor_enfeite" %></td>
                          <td id="disponibilidade_enfeite"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
                        <% end %>
                      </tr>
                      <tr>
                        <%= f.fields_for :item_compras, @compra.veu do |e| %>
                          <%= e.hidden_field :tipo, value: "veu" %>
                          <th>Véu:</th>
                          <td><%= e.select :nome, tipos_veu, {}, class: "form-control", id: "nome", placeholder: "VÉU", disabled: false %></td>
                          <td></td>
                          <td><%= e.number_field :quantidade, disabled: false, value: 1 %></td>
                          <td><%= e.text_field :unidade_medida, disabled: true, value: "cm", id: "udm_veu" %></td>
                          <!-- banco traz valor pra gente s2 -->
                          <td><%= e.number_field :preco, disabled: true, step: 0.01,value: 0.00, id: "valor_veu" %></td>
                          <td id="disponibilidade_veu"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
                        <% end %>
                      </tr>
                      <tr>
                        <%= f.fields_for :item_compras, @compra.iluminacao do |e| %>
                          <%= e.hidden_field :tipo, value: "iluminacao" %>
                          <th>Iluminação:</th>
                          <td><%= e.select :nome, tipos_iluminacao, {}, class: "form-control", id: "nome", placeholder: "ILUMINAÇÃO", disabled: false %></td>
                          <td></td>
                          <td><%= e.number_field :quantidade, disabled: false, value: 1 %></td>
                          <td><%= e.text_field :unidade_medida, disabled: true, value: "cm", id: "udm_iluminacao" %></td>
                          <!-- banco traz valor pra gente s2 -->
                          <td><%= e.number_field :preco, disabled: true, step: 0.01,value: 0.00, id: "valor_iluminacao" %></td>
                          <td id="disponibilidade_iluminacao"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
                        <% end %>
                      </tr>
                    <% end %>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 shadow">
        <div class="over-shadow">
          <h1 class="titulo_caixa">Taxa de Serviço</h1>
          <table class="table">
            <thead>
              <tr>
                <td colspan="5">Serviço</td>
                <td>QTD</td>
                <td>Valor do Conj.</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <%= f.fields_for :item_compras, @compra.tipo_sepultamento do |e| %>
                  <%= e.hidden_field :tipo, value: "tipo_sepultamento" %>
                  <th>Tipo de sepultamento:</th>
                  <td colspan="4"><%= e.select :nome, tipos_sepultamento, {}, class: "form-control", id: "nome", disabled: @cadastro.GD? %></td>
                  <td></td>
                  <td><%= e.number_field :preco, disabled: true, step: 0.01,value: 0.00, id: "valor_sepultamento" %></td>
                <% end %>
              </tr>
              <tr>
                <th rowspan="2">Transporte:</th>
                <%= f.fields_for :item_compras, @compra.carro_carreto do |e| %>
                  <%= e.hidden_field :tipo, value: "carro_carreto" %>
                  <td><%= e.check_box :enabled, checked: true, disabled: true, value: "Carro Carreto"%></td>
                  <td colspan="2">Carro Carreto</td>
                  <td></td>
                  <td><%= e.number_field :quantidade, disabled: true, value: 1 %></td>
                  <td><%= e.number_field :preco, disabled: true, step: 0.01,value: 0.00, id: "valor_carro_carreto" %></td>
                <% end %>
              </tr>
              <tr>
                <%= f.fields_for :item_compras, @compra.carro_enterro do |e| %>
                  <%= e.hidden_field :tipo, value: "carro_enterro" %>
                  <td><%= e.check_box :enabled, checked: true, disabled: true, value: "Carro Enterro"%></td>
                  <td colspan="2">Carro Enterro</td>
                  <td></td>
                  <td><%= e.number_field :quantidade, disabled: true, value: 1 %></td>
                  <td><%= e.number_field :preco, disabled: true, step: 0.01,value: 0.00, id: "valor_carro_enterro" %></td>
                <% end %>
              </tr>
              <tr>
                <th rowspan="2">Taxas:</th>
                <%= f.fields_for :item_compras, @compra.taxa_sepultamento do |e| %>
                  <%= e.hidden_field :tipo, value: "taxa_sepultamento" %>
                  <td><%= e.check_box :enabled, checked: true, disabled: true, value: "sepultamento" %></td>
                  <td colspan="2">Sepultamento</td>
                  <td></td>
                  <td colspan="2"></td>
                <% end %>
              </tr>
              <tr>
                <%= f.fields_for :item_compras, @compra.outras do |e| %>
                  <%= e.hidden_field :tipo, value: "outras" %>
                  <td>
                    <%= e.check_box :enabled, checked: false, id: "outros", onclick: "enableTaxas(this)" %>
                  </td>
                  <td  colspan="2">Outras</td>
                  <td>
                    <%= e.radio_button :sinal, true, id: "tipo_taxa", class: "tipo_taxa_class",disabled: true %>
                    <%= e.label :creditar, "(+)Creditar" %>
                    <%= e.radio_button :sinal, false, id: "tipo_taxa",class: "tipo_taxa_class", disabled: true %>
                    <%= e.label :debitar, "(-)Debitar" %>
                  </td>
                  <td></td>
                  <td>
                    <%= e.number_field :preco, disabled: true, step: 0.01, id: "valor_taxa", onkeypress: "mascara(this,dinheiro_mask)" %>
                  </td>
                <% end %>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-12 shadow">
            <div class="over-shadow">
                <h1 class="titulo_caixa">Observações</h1>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <%= f.text_area :observacoes, class: "form-control", id: "observaçoes", placeholder: "Observações" %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="botoes-navegacao">
      <div class="col-xs-12">
        <button type="button" class="col-xs-1 btn btn-default"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></button>
        <button type="button" class="col-xs-offset-4 col-xs-2 btn btn-default">Cancelar</button>
        <button class="col-xs-offset-4 col-xs-1 btn btn-default" value="Próximo" type="submit"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
      </div>
    </div>
  </div>
<% end %>