<%= form_for @falecido do |f| %>
    <% if @falecido.errors.any? %>
        <div id="error_expl" class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title"><%= @falecido.errors.count %> erros proibiram este falecido de ser salvo:</h3>
            </div>
            <div class="panel-body">
                <ul>
                    <% @falecido.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                </ul>
            </div>
        </div>
    <% end %>
    <div class="container" id="formulario-dados-pessoais">
    <div class="form-group">
      <div class="row">
        <div class="col-md-4">
          <%= f.label :nascimento_obito, "Nascimento e Óbito" %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <%= f.select :nascimento_obito, options_for_select(sim_nao, false), {}, class: "form-control", id: "nascimento_obito", onchange: "mostraOuEscondeNascimentoObito();" %>
        </div>
      </div>
    </div>

        <div class="row">
            <div class="col-md-12 shadow">
                <div class="over-shadow">
                    <div id="dadosPessoais">
                        <h1 class="titulo_caixa">Dados pessoais</h1>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <%= f.label :nome, "Nome completo" %>
                                    <%= f.text_field :nome, class: "form-control", id: "nome_completo", placeholder: "Nome Completo" %>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <%= f.label :naturalidade, "Naturalidade" %>
                                    <%= f.text_field :naturalidade, class: "form-control", id: "naturalidade", placeholder: "Naturalidade" %>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <%= f.label :profissao, "Profissão" %>
                                    <%= f.text_field :profissao, class: "form-control", id: "profissao", placeholder: "Profissão" %>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <%= f.label :documento, "Documento" %>
                                    <%= f.select :documento, documentos, {}, class: "form-control", id: "documento" %>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <%= f.label :numero_documento, "Número" %>
                                    <%= f.text_field :numero_documento, class: "form-control", id: "numero_documento", placeholder: "Número do Documento" %>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <%= f.label :cpf, "CPF" %>
                                    <%= f.text_field :cpf, class: "form-control", id: "cpf", placeholder: "CPF", onkeypress: "mascara(this,cpf_mask)", maxlength: "14", onblur: "validaCPF(this.value, 'falecido_cpf');" %>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <%= f.label :sexo, "Sexo" %>
                                    <%= f.select :sexo, sexos, {}, class: "form-control", id: "sexo" %>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <%= f.label :nascimento, "Data de Nascimento" %>
                                    <%= f.date_field :nascimento, :class => 'datepicker form-control', id: "data_nascimento",  placeholder: "01/01/1980", max: Date.today, onblur: "calculaIdade(this.value);" %>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <%= f.label :idade, "Idade" %>
                                    <input type="text" class="form-control" id="idade" placeholder="Idade" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <%= f.label :estado_civil, "Estado Civil" %>
                                    <%= f.select :estado_civil, estados_civis, {}, class: "form-control", id: "estado_civil", onchange: "mostraOuEscondeDadosEstadoCivil();" %>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <%= f.label :cor, "Cor" %>
                                    <%= f.select :cor, cores, {}, class: "form-control", id: "cor" %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 shadow">
                <div class="over-shadow">
                    <h1 class="titulo_caixa">Endereço</h1>
                    <%= f.fields_for :localizacao do |e| %>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <%= e.label :cep, "CEP" %>
                                    <%= e.text_field :cep, class: "form-control", id: "cep", placeholder: "CEP", onkeypress: "mascara(this,cep_mask)", maxlength: "9", onblur: "buscaCEP(this.value);" %>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <%= e.label :endereco, "Endereço" %>
                                    <%= e.text_field :endereco, class: "form-control", id: "endereco", placeholder: "Endereço" %>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <%= e.label :numero, "Número" %>
                                    <%= e.number_field :numero, class: "form-control", id: "numero_endereco", placeholder: "nº", min: 1 %>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <%= e.label :complemento, "Complemento" %>
                                    <%= e.text_field :complemento, class: "form-control", id: "complemento_endereco", placeholder: "Complemento" %>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <%= e.label :bairro, "Bairro" %>
                                    <%= e.text_field :bairro, class: "form-control", id: "bairro", placeholder: "Bairro" %>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <%= e.label :cidade, "Cidade" %>
                                    <%= e.text_field :cidade, class: "form-control", id: "cidade", placeholder: "Cidade" %>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <%= e.label :estado, "UF" %>
                                    <%= e.select :estado, estados, {}, class: "form-control", id: "estado" %>
                                </div>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
            <div class="col-md-5 shadow">
                <div class="over-shadow">
                    <h1 class="titulo_caixa">Informações Adicionais</h1>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <%= f.label :altura, "Altura(cm)" %>
                                <%= f.number_field :altura, class: "form-control", id: "altura", placeholder: "Altura", min: 1, max: 400 %>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <%= f.label :peso, "Peso(kg)" %>
                                <%= f.number_field :peso, class: "form-control", id: "peso", placeholder: "Peso", step: 0.01 %>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                       	<div class="col-sm-4">
                            <div class="form-group">
                                <%= f.label :inventariar, "Bens a inventariar" %>
                                <%= f.select :inventariar, sim_nao, {}, class: "form-control", id: "bens" %>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <%= f.label :testamento, "Deixa Testamento" %>
                                <%= f.select :testamento, sim_nao, {}, class: "form-control", id: "testamento" %>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <%= f.label :deixa_filhos, "Deixa Filhos" %>
                                <%= f.select :deixa_filhos, sim_nao, {}, class: "form-control",  id: "deixa_filhos", onchange: "mostraOuEscondeCamposDeFilhos();" %>
                            </div>
                        </div>
	                </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <%= f.label :marca_passo, "Marca Passo" %>
                                <%= f.select :marca_passo, sim_nao, {}, class: "form-control", id: "marcaPasso" %>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <%= f.label :eleitor, "Eleitor" %>
                                <%= f.select :eleitor, sim_nao, {}, class: "form-control", id: "eleitor" %>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <%= f.label :reservista, "Reservista" %>
                                <%= f.select :reservista, sim_nao, {}, class: "form-control", id: "reservista" %>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                      	<div class="col-sm-4">
                            <div class="form-group">
                                <%= f.label :inss, "INSS" %>
                                <%= f.select :inss, sim_nao, {}, class: "form-control", id: "inss" %>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="form-group">
                                <%= f.label :beneficio, "Nº Beneficio" %>
                                <%= f.text_field :beneficio, class: "form-control", id: "beneficio", placeholder: "Nº Beneficio" %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
	        <div class="col-md-12 shadow">
	            <div class="over-shadow" id="dadosPais">
                    <h1 class="titulo_caixa">Dados dos Pais</h1>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <%= f.label :nome_mae, "Nome da Mãe" %>
                                <%= f.text_field :nome_mae, class: "form-control", id: "nome_mae", placeholder: "Nome da Mãe" %>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <%= f.label :estado_civil_mae, "Estado Civil" %>
                                <%= f.select :estado_civil_mae, pais_estados_civis, {}, class: "form-control", id: "estado_civil_mae", onchange: "disableIfEqual('idade_mae', 'estado_civil_mae', 'Falecido'); disableIfEqual('naturalidade_mae', 'estado_civil_mae', 'Falecido'); disableIfEqual('profissao_mae', 'estado_civil_mae', 'Falecido'); " %>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <%= f.label :idade_mae, "Idade" %>
                                <%= f.number_field :idade_mae, class: "form-control", id: "idade_mae", placeholder: "Idade" %>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <%= f.label :naturalidade_mae, "Naturalidade" %>
                                <%= f.text_field :naturalidade_mae, class: "form-control", id: "naturalidade_mae", placeholder: "Naturalidade da Mãe" %>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <%= f.label :profissao_mae, "Profissão" %>
                                <%= f.text_field :profissao_mae, class: "form-control", id: "profissao_mae", placeholder: "Profissão da Mãe" %>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <%= f.label :nome_pai, "Nome do Pai" %>
                                <%= f.text_field :nome_pai, class: "form-control", id: "nome_pai", placeholder: "Nome do Pai" %>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <%= f.label :estado_civil_pai, "Estado Civil" %>
                                <%= f.select :estado_civil_pai, pais_estados_civis, {},  class: "form-control", id: "estado_civil_pai", onchange: "disableIfEqual('idade_pai', 'estado_civil_pai', 'Falecido'); disableIfEqual('naturalidade_pai', 'estado_civil_pai', 'Falecido'); disableIfEqual('profissao_pai', 'estado_civil_pai', 'Falecido'); " %>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <%= f.label :idade_pai, "Idade" %>
                                <%= f.number_field :idade_pai, class: "form-control", id: "idade_pai", placeholder: "Idade" %>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <%= f.label :naturalidade_pai, "Naturalidade" %>
                                <%= f.text_field :naturalidade_pai, class: "form-control", id: "naturalidade_pai", placeholder: "Naturalidade do Pai" %>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <%= f.label :profissao_pai, "Profissão" %>
                                <%= f.text_field :profissao_pai, class: "form-control", id: "profissao_pai", placeholder: "Profissão do Pai" %>
                            </div>
                        </div>
                    </div>
	            </div>
            </div>
        </div>

        <div class="row" id="dadosCertidaoNascimento">
            <div class="col-md-12 shadow">
                <div class="over-shadow">
                    <h1 class="titulo_caixa">Certidão de Nascimento</h1>
                    <%= f.fields_for :certidao_nascimento, CertidaoNascimento.new do |e| %>
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <%= e.label :cartorio, "Cartório" %>
                                    <%= e.text_field :cartorio, class: "form-control", id: "cartorio", placeholder: "Cartório" %>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <%= e.label :cidade, "Cidade" %>
                                    <%= e.text_field :cidade, class: "form-control", id: "cidade", placeholder: "Cidade" %>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <%= e.label :uf, "UF" %>
                                    <%= e.select :uf, estados, {}, class: "form-control", id: "estado" %>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <%= e.label :livro, "Livro" %>
                                    <%= e.text_field :livro, class: "form-control", id: "livro", placeholder: "Livro" %>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <%= e.label :folha, "Folha" %>
                                    <%= e.text_field :folha, class: "form-control", id: "folha", placeholder: "Folha" %>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <%= e.label :numero, "Número" %>
                                    <%= e.text_field :numero, class: "form-control", id: "numero", placeholder: "Número" %>
                                </div>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="row" id="dadosNascimento">
          <div class="col-md-12 shadow">
              <div class="over-shadow">
                <h1 class="titulo_caixa">Dados do Nascimento</h1>
                <%= f.fields_for :nascimento_obito do |e| %>
                <div class="row">
                  <div class="col-md-8">
                    <div class="form-group">
                      <%= e.label :local_nascimento, "Local" %>
                      <%= e.text_field :local_nascimento, class: "form-control", id: "local_nascimento", placeholder: "Local" %>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group">
                        <%= e.label :data_nascimento, "Data de Nascimento" %>
                        <%= e.date_field :data_nascimento, :class => 'datepicker form-control', id: "data_nascimento",  placeholder: "01/01/1900", max: Date.today %>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group">
                        <%= e.label :horario_nascimento, "Horário" %>
                        <%= e.datetime_field :hora_nascimento, class: "form-control", id: "hora_nascimento", placeholder: "00:00", onkeypress: "mascara(this,hora_mask)", maxlength: "5" %>
                  </div>
                  </div>
                </div>
               <% end %>
              </div>
          </div>
        </div>

        <div class="row" id="dadosFamiliares">
          <div class="col-md-12 shadow">
            <div class="over-shadow">
              <h1 class="titulo_caixa">Dados Familiares</h1>
              <%= f.fields_for :nascimento_obito do |e| %>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <%= e.label :avo_paterno, "Avô paterno" %>
                    <%= e.text_field :avo_paterno, class: "form-control", id: "avo_paterno", placeholder: "Avô paterno" %>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <%= e.label :avo_paterna, "Avó paterna" %>
                    <%= e.text_field :avo_paterna, class: "form-control", id: "avo_paterna", placeholder: "Avó paterna" %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <%= e.label :avo_materno, "Avô materno" %>
                    <%= e.text_field :avo_materno, class: "form-control", id: "avo_materno", placeholder: "Avô materno" %>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <%= e.label :avo_materna, "Avó materna" %>
                    <%= e.text_field :avo_materna, class: "form-control", id: "avo_materna", placeholder: "Avó materna" %>
                  </div>
                </div>
              </div>
             <% end %>
            </div>
          </div>
        </div>

        <div class="row" id="dadosTestemunhas">
          <div class="col-md-12 shadow">
            <div class="over-shadow">
              <h1 class="titulo_caixa">Testemunhas</h1>
              <%= f.fields_for :testemunhas do |e| %>
                <div class="row">
                  <div class="col-md-9">
                    <div class="form-group">
                      <%= e.label :nome, "Nome completo" %>
                      <%= e.text_field :nome, class: "form-control", id: "nome_testemunha1", placeholder: "Nome completo" %>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                        <%= f.label :estado_civil, "Estado Civil" %>
                        <%= f.select :estado_civil, estados_civis, {}, class: "form-control", id: "estado_civil_testemunha1" %>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= e.label :nacionalidade, "Nacionalidade" %>
                      <%= e.text_field :nacionalidade, class: "form-control", id: "nacionalidade_testemunha1", placeholder: "Nacionalidade" %>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= e.label :profissao, "Profissão" %>
                      <%= e.text_field :profissao, class: "form-control", id: "profissao_testemunha1", placeholder: "Profissão" %>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= e.label :endereco, "Endereço" %>
                      <%= e.text_field :bairro, class: "form-control", id: "endereco_testemunha1", placeholder: "Endereço" %>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= e.label :bairro, "Bairro" %>
                      <%= e.text_field :bairro, class: "form-control", id: "bairro_testemunha1", placeholder: "Bairro" %>
                    </div>
                  </div>
                </div>
              <% end %>
              <hr size="10px" />
              <%= f.fields_for :testemunhas do |e| %>
                <div class="row">
                  <div class="col-md-9">
                    <div class="form-group">
                      <%= e.label :nome, "Nome completo" %>
                      <%= e.text_field :nome, class: "form-control", id: "nome_testemunha2", placeholder: "Nome completo" %>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                        <%= f.label :estado_civil, "Estado Civil" %>
                        <%= f.select :estado_civil, estados_civis, {}, class: "form-control", id: "estado_civil_testemunha2" %>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= e.label :nacionalidade, "Nacionalidade" %>
                      <%= e.text_field :nacionalidade, class: "form-control", id: "nacionalidade_testemunha2", placeholder: "Nacionalidade" %>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= e.label :profissao, "Profissão" %>
                      <%= e.text_field :profissao, class: "form-control", id: "profissao_testemunha2", placeholder: "Profissão" %>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= e.label :endereco, "Endereço" %>
                      <%= e.text_field :bairro, class: "form-control", id: "endereco_testemunha2", placeholder: "Endereço" %>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= e.label :bairro, "Bairro" %>
                      <%= e.text_field :bairro, class: "form-control", id: "bairro_testemunha2", placeholder: "Bairro" %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>

        <div class="row" id="dadosGravidez">
          <div class="col-md-12 shadow">
              <div class="over-shadow">                
                <%= f.fields_for :nascimento_obito do |e| %>
                <div class="row">
                  <div class="col-md-8">
                    <div class="form-group">
                      <%= e.label :semanas_gestacao, "Gestação (semanas)" %>
                      <%= e.text_field :semanas_gestacao, class: "form-control", id: "semanas_gestacao", placeholder: "Semanas" %>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group">
                        <%= e.label :gravidez, "Gravidez" %>
                        <%= e.text_field :gravidez, class: "form-control", id: "gravidez", placeholder: "Gravidez" %>
                    </div>
                  </div>
                </div>
               <% end %>
              </div>
          </div>
        </div>


        <div class="row" id="dadosCamposFilhos">
          <div class="col-md-12 shadow">
            <div class="over-shadow">
              <h1 class="titulo_caixa pull-left">Informações dos Filhos</h1>
              <button class="btn btn-info pull-right" onclick="novoFilho(); return false;" ><u>A</u>diciona filho</button>
              <div class="row">
                  <div class="col-md-12">
                      <div class="form-group">
                          <table class="table" id="table_filhos">
                            <tr>
                              <td>Nome</td>

                              <td>Idade</td>
                              <td>Observações</td>
                              <td></td>
                            </tr>
                            <tr id="row_filho">
                              <%= f.fields_for :filho do |e| %>
                                <td>
                                  <%= e.text_field :nome, class: "form-control", id: "nome" %>
                                </td>
                                <td>
                                     <%= e.select :categoria_idade, categorias_idade, {}, class: "form-control", id: "categoria_idade" %>
                                </td>
                                <td>
                                  <%= e.text_field :observacoes, class: "form-control", id: "observacoes" %>
                                </td>
                                <td>
                                  <button type="button" class="close" aria-label="Close" onclick="removerFilho(this);" id="removeFilho">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </td>
                              </tr>
                            <% end %>
                          </table>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>

<div class="row" id="dadosCasamentos">
      <div class="col-md-12 shadow">
          <div class="over-shadow">
            <h1 class="titulo_caixa pull-left">Casamentos</h1>
            <button class="btn btn-info pull-right" onclick="novoCasamento(); return false;" ><u>N</u>ovo casamento</button>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <table class="table" id="table_casamento">
                          <tr>
                            <td>Nome do cônjuge</td>
                            <td>Data Casamento</td>
                            <td>Cartório</td>
                            <td>Cidade</td>
                            <td>UF</td>
                            <td>Livro</td>
                            <td>Folha</td>
                            <td>Nº</td>
                            <td></td>
                          </tr>
                          <tr id="row_casamento">
                            <%= f.fields_for :casamento do |e| %>
                              <td>
                                <%= e.text_field :nome, class: "form-control", id: "nome_conjuge" %>
                              </td>
                              <td>
                                <%= e.text_field :data_casamento, class: "form-control", id: "data_casamento" %>
                              </td>
                              <td>
                                <%= e.text_field :cartorio, class: "form-control", id: "cartorio_casamento" %>
                              </td>
                              <td>
                                <%= e.text_field :cidade, class: "form-control", id: "cidade_casamento" %>
                              </td>
                              <td>
                                <%= e.select :uf, estados, {}, class: "form-control", id: "estado_casamento" %>
                              </td>
                              <td>
                                <%= e.text_field :livro, class: "form-control", id: "livro_casamento" %>
                              </td>
                              <td>
                                <%= e.text_field :folha, class: "form-control", id: "folha_casamento" %>
                              </td>
                              <td>
                                <%= e.text_field :numero, class: "form-control", id: "numero_casamento" %>
                              </td>
                              <td>
                                <button type="button" class="close" aria-label="Close" onclick="removerCasamento(this);" id="removeCasamento">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </td>
                            </tr>
                          <% end %>
                        </table>
                    </div>
                </div>
            </div>
          </div>
      </div>
  </div>


        <div class="row">
          <div class="col-xs-12" id="botoes-navegacao">
            <button type="button" class="col-xs-1 btn btn-default"><span class="glyphicon glyphicon-chevron-left" ></span></button>
            <button type="button" class="col-xs-offset-4 col-xs-2 btn btn-default">Cancelar</button>
            <button type="submit" class="col-xs-offset-4 col-xs-1 btn btn-default"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
          </div>
        </div>
    </div>
<% end %>