<%= form_for @contratante do |f| %>

    <% if @contratante.errors.any? %>
        <div id="error_expl" class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title"><%= @contratante.errors.count %> erros proibiram este contratante de ser salvo:</h3>
            </div>
            <div class="panel-body">
                <ul>
                    <% @contratante.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                </ul>
            </div>
        </div>
    <% end %>
	<div class="container" id="formulario-dados-pessoais">
		<div class="row">
        	<div class="col-md-12 shadow">
        	    <div class="over-shadow">
                    <div id="dadosPessoais">
	                    <h1 class="titulo_caixa">Dados pessoais</h1>
				  	    <div class="row">
	                        <div class="col-md-6 col-xs-12">
	                            <div class="form-group">
	                                <%= f.label :cpf, "CPF" %>
	                                <%= f.text_field(:cpf, class: "form-control", onblur: "buscaPorCpf()", placeholder: "CPF", onkeypress: "mascara(this,cpf_mask)", maxlength: "14") %>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="row">
	                        <div class="col-sm-12">
	                            <div class="form-group">
	                                <%= f.label :nome_completo, 'Nome Completo' %>
	                                <%= f.text_field :nome_completo, class: "form-control", id: "nome_completo", placeholder: "Nome Completo" %>
	                            </div>
	                        </div>
	                    </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <%= f.label :rg, "RG" %>
                                    <%= f.text_field :rg, class: "form-control", id: "rg", placeholder: "RG" %>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <%= f.label :nome_mae, "Nome da Mãe" %>
                                    <%= f.text_field :nome_mae, class: "form-control", id: "nome_mae", placeholder: "Nome da mãe" %>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <%= f.label :profissao, "Profissão" %>
                                    <%= f.text_field :profissao, class: "form-control", id: "profissao",placeholder: "Profissão" %>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <%= f.label :parentesco, "Parentesco" %>
                                    <%= f.text_field :parentesco, class: "form-control", id: "parentesco", placeholder: "Parentesco" %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
		</div>
		<div class="row">
            <div class="col-md-12">
                <div class="col-md-8 shadow">
                    <div class="over-shadow">
                        <h1 class="titulo_caixa">Endereço</h1>
                        <%= f.fields_for :localizacao do |e| %>
	                        <div class="row">
	                            <div class="col-sm-6">
	                                <div class="form-group">
	                                    <%= e.label :cep, "CEP" %>
	                                    <%= e.text_field :cep, class: "form-control", id: "cep", placeholder: "CEP", onkeypress: "mascara(this,cep_mask)", maxlength: "9" %>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="row">
	                            <div class="col-sm-5">
	                                <div class="form-group">
	                                    <%= e.label :endereco, "Endereço" %>
	                                    <%= e.text_field :endereco, class: "form-control", id: "endereco", placeholder: "Endereço" %>
	                                </div>
	                            </div>
	                            <div class="col-sm-2">
	                                <div class="form-group">
	                                    <%= e.label :numero, "Número" %>
	                                    <%= e.number_field :numero, class: "form-control", id: "numero_endereco", placeholder: "nº", min: 1 %>
	                                </div>
	                            </div>
	                            <div class="col-sm-5">
	                                <div class="form-group">
	                                    <%= e.label :complemento, "Complemento" %>
	                                    <%= e.text_field :complemento, class: "form-control", id: "complemento_endereco", placeholder: "Complemento" %>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="row">
	                            <div class="col-sm-5">
	                                <div class="form-group">
	                                    <%= e.label :bairro, "Bairro" %>
	                                    <%= e.text_field :bairro, class: "form-control", id: "bairro", placeholder: "Bairro" %>
	                                </div>
	                            </div>
	                            <div class="col-sm-5">
	                                <div class="form-group">
	                                    <%= e.label :cidade, "Cidade" %>
	                                    <%= e.text_field :cidade, class: "form-control", id: "cidade", placeholder: "Cidade" %>
	                                </div>
	                            </div>
	                            <div class="col-sm-2">
	                                <div class="form-group">
	                                    <%= e.label :estado, "UF" %>
	                                    <%= e.select :estado, estados, {}, class: "form-control", id: "estado" %>
	                                </div>
	                            </div>
	                        </div>
	                    <% end %>
                    </div>
                </div>
                <div class="col-md-4 shadow">
                    <div class="over-shadow">
                        <h1 class="titulo_caixa">Contatos</h1>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <%= f.label :telefone_residencial, "Tel Residencial" %>
                                    <%= f.text_field :telefone_residencial, class: "form-control", id: "telefone_residencial", placeholder: "Tel Residencial", onkeypress: "mascara(this,telefone)", maxlength: "15" %>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <%= f.label :telefone_celular, "Tel Celular" %>
                                    <%= f.text_field :telefone_celular, class: "form-control", id: "telefone_celular", placeholder: "Tel Celular", onkeypress: "mascara(this,telefone)", maxlength: "15" %>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <%= f.label :email, "Email" %>
                                    <%= f.email_field :email, class: "form-control", id: "email", placeholder: "Email" %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

        <% if @cadastro.tipo_operacao == 1 and @cadastro.tipo_contratacao == 1 and @cadastro.destino_final == 1 %>
            <div class="row">
                <div class="col-md-12 shadow">
                    <div class="over-shadow">
                        <div id="dadosPessoais">
                            <h1 class="titulo_caixa">Dados da Empresa</h1>
                            <div class="row">
                                <div class="col-sm-7">
                                    <div class="form-group">
                                        <%= f.label :nome_empresarial, "Nome Empresarial" %>
                                        <%= f.text_field(:nome_empresarial, class: "form-control", placeholder: "Nome empresarial", maxlength: "40") %>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <%= f.label :cnpj, 'CNPJ' %>
                                        <%= f.text_field :cnpj, class: "form-control", id: "cnpj", placeholder: "CNPJ",
                                        onkeypress: "mascara(this,cnpj_mask)", maxlength: "19" %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>



        <div class="row">
            <div class="col-xs-12" id="botoes-navegacao">
                <button type="button" class="col-xs-1 btn btn-default" style="visibility:hidden"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></button>
                <button type="button" class="col-xs-offset-4 col-xs-2 btn btn-default">Cancelar</button>
                <button class="col-xs-offset-4 col-xs-1 btn btn-default" value="Próximo" type="submit"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
            </div>
        </div>
    </div>
<% end %>