<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <title>Hades</title>

    <link type="text/plain" rel="author" href="humans.txt" />

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true  %>

    <%= csrf_meta_tags %>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container" id="cabecalho">
        <a class="navbar-brand" href="#">Hades</a>
        <p class="navbar-text navbar-right">Usuário: <a href="#" class="navbar-link">João da Silva</a></p>
      </div>
    </nav>

    <div class="caixa_barra_progresso" id="barra_de_progresso"
      <% if !@css[:barra_display_none].nil? %>style="display: none" <% end %>>
      <ul class="barra_progresso">
        <!-- visited first previous active next -->
        <li class="<%= @css[:barra_filtro] %>">Filtro de Processos</li>
        <li class="<%= @css[:barra_contratante] %>">Cadastro de Contratante</li>
        <li class="<%= @css[:barra_falecido] %>">Cadastro de Falecido</li>
        <li class="<%= @css[:barra_obito] %>">Dados do Óbito</li>
        <li class="<%= @css[:barra_produtos] %>">Escolha de Produtos</li>
        <li class="<%= @css[:barra_notas] %>">Emissão de Notas</li>
      </ul>
    </div>

    <%= yield %>

  </body>
</html>